<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    
    <mappers>
    	<!-- 모든 매퍼 파일이 있는 디렉토리를 등록 -->
    	<!-- <package name="/mappers/**"/> -->
    	<mapper resource="/mappers/board/BoardDAO_SQL_postgres.xml"/>
    </mappers>
</configuration>
